/*Google fonts Uguntu and Amatic-CS*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*The wildacard selector to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'uguntu', sans-serif; 
}

/*Header*/
header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 2px;
    padding-left: 10%;
    font-size: 300%;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

/*Navbar styling*/
nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    text-align: right;
    padding-right: 5%;
    display: none;
    top: 100%;
}
    
/*Navbar toggle*/
#burger-menu:checked~nav {
    display: block;
}

#burger-menu {
    display: none;
}

.burger-menu-label {
    font-size: 2rem;
    padding-right: 10%;
}

/*Main content*/
main {
    background-color: coral;
    /*This is to push the footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: darkseagreen;
}