/*The wildacard selector to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background-color: blue;
}

/*Main content*/
main {
    background-color: coral;
    /*This is to push the footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: darkseagreen;
}